* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

:root {
  --blue: #0079ff;
  --white: #ffffff;
  --off-black: #141d2f;
  --off-blue: #1e2a47;
  --button-hover: #90a4d4;
  --gray: #697c9a;
  --blue-gray: #4b6a9b;
  --light-black: #2b3442;
  --white-gray: #f6f8ff;
  --off-white: #fefefe;
  --light-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.19);
}

body {
  background-color: var(--off-black);

  display: flex;
  justify-content: center;
}

.container {
  margin: 10px;
  width: 730px;
}

/* ---------- HEADING ----------- */

.header {
  display: flex;
  justify-content: space-between;
}

.heading {
  color: #ffffff;
}

.toggle-button {
  background-color: transparent;
  color: var(--white);
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  cursor: pointer;
}

.light-button {
  padding: 6px;
}

.sun {
  fill: var(--white);
  vertical-align: bottom;
  margin: 3px;
}

/* ---------- HEADING ----------- */

/* ------------INPUT-------------- */

.search-container {
  background-color: #1e2b48;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin: 18px 0px;
}

.input-container {
  flex: 4;
}

.search-icon {
  vertical-align: middle;
}

.input-search {
  color: var(--white);
  background-color: #1e2b48;
  padding: 5px 12px;
  border: 2px solid transparent;
  font-size: 18px;
  line-height: 25px;
  margin-left: 24px;
  width: 75%;
  padding-right: 20px;
  outline: none;
}

.input-search::placeholder {
  color: var(--white);
}

.search-button {
  color: var(--white);
  background-color: var(--blue);
  font-size: 16px;
  padding: 8px 2px;
  border: none;
  border-radius: 10px;
  flex: 1;
  cursor: pointer;
}

/* ------------INPUT-------------- */

/* ------------CARD---------------- */

.card-container {
  width: 730px;
  color: var(--white);
  background-color: #1e2b48;
  display: flex;
  justify-content: space-around;
  padding: 45px;
  border-radius: 10px;
}

.card-content-container {
  width: 487px;
}

.card-image-container {
  margin-right: 36px;
}

.card-image-container img {
  border-radius: 50%;
  width: 117px;
  height: 117px;
}

.card-header {
  display: flex;

  display: flex;
  justify-content: space-between;
}

.card-header a {
  color: #07f;
}

.card-content-header p {
  margin: 20px 0 32px 0;
}

li {
  list-style: none;
}

.card-info-container-1 {
  background-color: #141d2f;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 16px 32px;
  border-radius: 10px;
  width: auto;
}

.info-container-1 {
  font-size: 25px;
}

.card-info-container-2 {
  margin-top: 24px;
  width: auto;
}

.location-blog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.twitter-company {
  display: flex;
  justify-content: space-between;
}

.location-blog li span {
  margin-right: 14px;
}

.twitter-company li span {
  margin-right: 14px;
}

.blog-li a {
  color: var(--white);
  text-decoration: none;
}

.company-li {
  margin-right: 112px;
}

/* ------------CARD---------------- */
