* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #0079ff;
  --white: #ffffff;
  --off-black: #141d2f;
  --off-blue: #1e2a47;
  --button-hover: #90a4d4;
  --gray: #697c9a;
  --blue-gray: #4b6a9b;
  --light-black: #2b3442;
  --white-gray: #f6f8ff;
  --off-white: #fefefe;
  --light-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.19);
}

body {
  background-color: var(--off-black);
  font-family: "Space Mono", monospace;
}

.heading {
  color: #ffffff;
}
